<html>
<head>
	<title>Transwestern</title>
	<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type='text/javascript' src="scripts.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div class="bars">
        <div class="var var1">
            <div class="varNameDiv varNameDiv0">
                <p class="varName varName0">
                    Price Per Square Foot
                </p>
            </div>
            <div class="graph graph1">
                <div class="barsWrapper">

                    <div class="bar bar1">
                        <p class="barVal barVal1">
                            4$
                        </p>
                    </div>
                    <div class="bar bar2">
                        <p class="barVal barVal2">
                            $2
                        </p>
                    </div>
                    <div class="bar bar3">
                        <p class="barVal barVal3">
                            $3
                        </p>
                    </div>

                </div>
                <div class="pref pref1">
                    <p class="prefVal prefVal1">
                        .8
                    </p>
                </div>
            </div>
        </div>
        <div class="var var2">
            <div class="varNameDiv varNameDiv1">
                <p class="varName varName1">
                    Tenant Improvement
                </p>
            </div>
            <div class="graph graph1">
                <div class="barsWrapper">

                    <div class="bar bar1">
                        <p class="barVal barVal1">
                            4$
                        </p>
                    </div>
                    <div class="bar bar2">
                        <p class="barVal barVal2">
                            $2
                        </p>
                    </div>
                    <div class="bar bar3">
                        <p class="barVal barVal3">
                            $3
                        </p>
                    </div>

                </div>
                <div class="pref pref1">
                    <p class="prefVal prefVal1">
                        .8
                    </p>
                </div>
            </div>
        </div>
        <div class="var var3">
            <div class="varNameDiv varNameDiv1">
                <p class="varName varName1">
                    Free Rent (months)
                </p>
            </div>
            <div class="graph graph1">
                <div class="barsWrapper">

                    <div class="bar bar1">
                        <p class="barVal barVal1">
                            4$
                        </p>
                    </div>
                    <div class="bar bar2">
                        <p class="barVal barVal2">
                            $2
                        </p>
                    </div>
                    <div class="bar bar3">
                        <p class="barVal barVal3">
                            $3
                        </p>
                    </div>

                </div>
                <div class="pref pref1">
                    <p class="prefVal prefVal1">
                        .8
                    </p>
                </div>
            </div>
        </div>
        <div class="var var4">
            <div class="varNameDiv varNameDiv1">
                <p class="varName varName1">
                    Escalation
                </p>
            </div>
            <div class="graph graph1">
                <div class="barsWrapper">

                    <div class="bar bar1">
                        <p class="barVal barVal1">
                            4$
                        </p>
                    </div>
                    <div class="bar bar2">
                        <p class="barVal barVal2">
                            $2
                        </p>
                    </div>
                    <div class="bar bar3">
                        <p class="barVal barVal3">
                            $3
                        </p>
                    </div>

                </div>
                <div class="pref pref1">
                    <p class="prefVal prefVal1">
                        .8
                    </p>
                </div>
            </div>
        </div>
        <div class="var var5">
            <div class="varNameDiv varNameDiv1">
                <p class="varName varName1">
                    Term (years)
                </p>
            </div>
            <div class="graph graph1">
                <div class="barsWrapper">

                    <div class="bar bar1">
                        <p class="barVal barVal1">
                            4$
                        </p>
                    </div>
                    <div class="bar bar2">
                        <p class="barVal barVal2">
                            $2
                        </p>
                    </div>
                    <div class="bar bar3">
                        <p class="barVal barVal3">
                            $3
                        </p>
                    </div>

                </div>
                <div class="pref pref1">
                    <p class="prefVal prefVal1">
                        .8
                    </p>
                </div>
            </div>
        </div>
        <hr class="graphHR graphHR1" />
        <hr class="graphHR graphHR2" />
        <hr class="graphHR graphHR3" />
        <hr class="graphHR graphHR4" />
        <hr class="graphHR graphHR5" />
    </div>

</body>
</html>
