<html>
<head>
	<title>Transwestern</title>
	<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type='text/javascript' src="scripts.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div class="clock">
        <div class="ringWrapper">
            <div class="ring1">

            </div>
            <div class="ring2">

            </div>
            <div class="mask1">

            </div>
            <!-- <div class="mask2">

            </div> -->
        </div>
        <div class="clockDisplay">
            <div class="clockNums">
                <p class="clockNumbers">
                    00:00
                </p>
            </div>
        </div>
    </div>

</body>
</html>
