<html>
<head>
	<title>Transwestern</title>
	<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type='text/javascript' src="scripts.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class='topBar'>
		<div class='container'>
			<a href="#" class="backBtn"><p>
				BACK
			</p></a>

			<div class="clockWrapper">
				<div class="clock">
			        <div class="ringWrapper">
			            <div class="ring1">

			            </div>
			            <div class="ring2">

			            </div>
			            <div class="mask1">

			            </div>
			            <!-- <div class="mask2">

			            </div> -->
			        </div>
			        <div class="clockDisplay">
			            <div class="clockNums">
			                <p class="clockNumbers">
			                    00:00
			                </p>
			            </div>
			        </div>
			    </div>
			</div>
			<div class="userInfo">
				<div class="userText">
					<p class="welcome">
						Welcome, Finn
					</p>
					<div class="userActions">
						<p>
							<a href="#">Account</a> | <a href="#">Logout</a>
						</p>
					</div>
				</div>
				<div class="avatar">

				</div>
			</div>
		</div>
	</div>

	<div class="auctionOverview">
		<div class='container'>
			<div class="clearfix">

			</div>
			<h2 class="auctionName">
				Auction Name
			</h2>

			<div class="properties">
		        <div class="property property1">
					<div class="propertyName propertyName1">
						Property
					</div>
		            <div class="propertyLine propertyLine1">

		            </div>
					<div class="propertyValueWrapper propertyValueWrapper1">
						<p class="propertyValue propertyValue1">
							$0
						</p>
					</div>
		            <div class="propertyImgWrapper propertyImgWrapper1">
		                <div class="propertyImg propertyImg1">

		                </div>
		            </div>
		        </div>
		        <div class="property property2">
					<div class="propertyName propertyName1">
						Property
					</div>
		            <div class="propertyLine propertyLine2">

		            </div>
					<div class="propertyValueWrapper propertyValueWrapper2">
						<p class="propertyValue propertyValue2">
							$0
						</p>
					</div>
		            <div class="propertyImgWrapper propertyImgWrapper2">
		                <div class="propertyImg propertyImg2">

		                </div>
		            </div>
		        </div>
		        <div class="property property3">
					<div class="propertyName propertyName1">
						Property
					</div>
		            <div class="propertyLine propertyLine3">

		            </div>
					<div class="propertyValueWrapper propertyValueWrapper3">
						<p class="propertyValue propertyValue3">
							$0
						</p>
					</div>
		            <div class="propertyImgWrapper propertyImgWrapper3">
		                <div class="propertyImg propertyImg3">

		                </div>
		            </div>
		        </div>
		    </div>
			<div class="finishLine">

			</div>
			<div class="preferences">
				<div class="clientLogo">
					<img src="http://3.bp.blogspot.com/-ZmGf_pig5HI/VM1CvAL2F9I/AAAAAAAA-1c/AGFW2g4QpCk/s1600/Gringotts%2Bbank.jpg" />
				</div>
				<div class="prefList">
					<ul>
						<li class='priorityPref' id="li1">
							1. Rate
						</li>
						<li id="li2">
							2. Tenant Improvements
						</li>
						<li id="li3">
							3. Free Rent
						</li>
						<li id="li4">
							4. Escalation
						</li>
						<li id="li5">
							5. Term
						</li>

					</ul>
				</div>
			</div>

		</div>
	</div>
	<div class="barGraphs">
		<div class="container">
			<div class="clearfix">

			</div>
			<h2 class="auctionName">
				Auction Properties
			</h2>

			<div class="propStats">
				<div class="propStat propStat1">
					<h4 class="propName">
						Property Name
					</h4>
					<div class="propFact propFact1">
						<img class="factIcon" src="css/assets/trophy.png"/>
						<p class="factNum factNum1">
							NUM
						</p>
					</div>
					<div class="propFact propFact2">
						<img class="factIcon" src="css/assets/money.png"/>
						<p class="factNum factNum2">
							NUM2
						</p>
					</div>
				</div>
				<div class="propStat propStat2">
					<h4 class="propName">
						Property Name
					</h4>
					<div class="propFact propFact1">
						<img class="factIcon" src="css/assets/trophy.png"/>
						<p class="factNum factNum1">
							NUM
						</p>
					</div>
					<div class="propFact propFact2">
						<img class="factIcon" src="css/assets/money.png"/>
						<p class="factNum factNum2">
							NUM2
						</p>
					</div>
				</div>
				<div class="propStat propStat3">
					<h4 class="propName">
						Property Name
					</h4>
					<div class="propFact propFact1">
						<img class="factIcon" src="css/assets/trophy.png"/>
						<p class="factNum factNum1">
							NUM
						</p>
					</div>
					<div class="propFact propFact2">
						<img class="factIcon" src="css/assets/money.png"/>
						<p class="factNum factNum2">
							NUM2
						</p>
					</div>
				</div>


			</div>

			<div class="bars">
		        <div class="var var1">
		            <div class="varNameDiv varNameDiv0">
		                <p class="varName varName0">
		                    Price Per Square Foot
		                </p>
		            </div>
		            <div class="graph graph1">
		                <div class="barsWrapper">

		                    <div class="bar bar1">
		                        <p class="barVal barVal1">
		                            $0
		                        </p>
		                    </div>
		                    <div class="bar bar2">
		                        <p class="barVal barVal2">
		                            $0
		                        </p>
		                    </div>
		                    <div class="bar bar3">
		                        <p class="barVal barVal3">
		                            $0
		                        </p>
		                    </div>

		                </div>
		                <div class="pref pref1">
		                    <p class="prefVal prefVal1">
		                        .0
		                    </p>
		                </div>
		            </div>
		        </div>
		        <div class="var var2">
		            <div class="varNameDiv varNameDiv1">
		                <p class="varName varName1">
		                    Tenant Improvement
		                </p>
		            </div>
		            <div class="graph graph1">
		                <div class="barsWrapper">

		                    <div class="bar bar1">
		                        <p class="barVal barVal1">
		                            $0
		                        </p>
		                    </div>
		                    <div class="bar bar2">
		                        <p class="barVal barVal2">
		                            $0
		                        </p>
		                    </div>
		                    <div class="bar bar3">
		                        <p class="barVal barVal3">
		                            $0
		                        </p>
		                    </div>

		                </div>
		                <div class="pref pref1">
		                    <p class="prefVal prefVal1">
		                        .0
		                    </p>
		                </div>
		            </div>
		        </div>
		        <div class="var var3">
		            <div class="varNameDiv varNameDiv1">
		                <p class="varName varName1">
		                    Free Rent (months)
		                </p>
		            </div>
		            <div class="graph graph1">
		                <div class="barsWrapper">

		                    <div class="bar bar1">
		                        <p class="barVal barVal1">
		                            $0
		                        </p>
		                    </div>
		                    <div class="bar bar2">
		                        <p class="barVal barVal2">
		                            $0
		                        </p>
		                    </div>
		                    <div class="bar bar3">
		                        <p class="barVal barVal3">
		                            $0
		                        </p>
		                    </div>

		                </div>
		                <div class="pref pref1">
		                    <p class="prefVal prefVal1">
		                        .0
		                    </p>
		                </div>
		            </div>
		        </div>
		        <div class="var var4">
		            <div class="varNameDiv varNameDiv1">
		                <p class="varName varName1">
		                    Escalation
		                </p>
		            </div>
		            <div class="graph graph1">
		                <div class="barsWrapper">

		                    <div class="bar bar1">
		                        <p class="barVal barVal1">
		                            $0
		                        </p>
		                    </div>
		                    <div class="bar bar2">
		                        <p class="barVal barVal2">
		                            $0
		                        </p>
		                    </div>
		                    <div class="bar bar3">
		                        <p class="barVal barVal3">
		                            $0
		                        </p>
		                    </div>

		                </div>
		                <div class="pref pref1">
		                    <p class="prefVal prefVal1">
		                        .0
		                    </p>
		                </div>
		            </div>
		        </div>
		        <div class="var var5">
		            <div class="varNameDiv varNameDiv1">
		                <p class="varName varName1">
		                    Term (years)
		                </p>
		            </div>
		            <div class="graph graph1">
		                <div class="barsWrapper">

		                    <div class="bar bar1">
		                        <p class="barVal barVal1">
		                            $0
		                        </p>
		                    </div>
		                    <div class="bar bar2">
		                        <p class="barVal barVal2">
		                            $0
		                        </p>
		                    </div>
		                    <div class="bar bar3">
		                        <p class="barVal barVal3">
		                            $0
		                        </p>
		                    </div>

		                </div>
		                <div class="pref pref1">
		                    <p class="prefVal prefVal1">
		                        .0
		                    </p>
		                </div>
		            </div>
		        </div>
		        <hr class="graphHR graphHR1" />
		        <hr class="graphHR graphHR2" />
		        <hr class="graphHR graphHR3" />
		        <hr class="graphHR graphHR4" />
		        <hr class="graphHR graphHR5" />
		    </div>
		</div>
	</div>
	<div class="sideNav">
		<a href="#">
			<div class="navItem navItem1">
				<img src="css/assets/dashboard.png" />
				<p class="navName navName1">
					Dashboard
				</p>
			</div>
		</a>
		<a href="#">
			<div class="navItem navItem2">
				<img src="css/assets/liveauctions.png" />
				<p class="navName navName1">
					Live Auctions
				</p>
			</div>
		</a>
		<a href="#">
			<div class="navItem navItem3">
				<img src="css/assets/properties.png" />
				<p class="navName navName1">
					Clients
				</p>
			</div>
		</a>
		<a href="#">
			<div class="navItem navItem4">
				<img src="css/assets/addauction.png" />
				<p class="navName navName1">
					Create Auction
				</p>
			</div>
		</a>
	</div>

</body>
</html>
