<html>
<head>
	<title>Transwestern</title>
	<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type='text/javascript' src="scripts.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="barLabels">
		<div class="barLabelWrapper">
			<p class="barLabel" id="barLabel1">
				Rate
			</p>
		</div>
		<div class="barLabelWrapper">
			<p class="barLabel" id="barLabel2">
				TI
			</p>
		</div>
		<div class="barLabelWrapper">
			<p class="barLabel" id="barLabel3">
				Free Rent Months
			</p>
		</div>
		<div class="barLabelWrapper">
			<p class="barLabel" id="barLabel4">
				Escalation
			</p>
		</div>
		<div class="barLabelWrapper">
			<p class="barLabel" id="barLabel5">
				Term
			</p>
		</div>
	</div>
	<div class="bars">
		<div class="bar" id="bar1">
			<div class="pref" id="pref1">
				<div class="prefLabel" id="prefLabel1">
					<p>
						Test
					</p>
				</div>
			</div>
			<div class="val" id="val1">
				<div class="valLabel" id="valLabel1">
					<p>
						Label1
					</p>
				</div>
			</div>
			<!-- <div class="unitWrapper">
				<div class="unit" id="unit1">

				</div>
			</div> -->
		</div>
		<div class="bar" id="bar2">
			<div class="pref" id="pref2">
				<div class="prefLabel" id="prefLabel2">

				</div>
			</div>
			<div class="val" id="val2">
				<div class="valLabel" id="valLabel2">

				</div>
			</div>
			<!-- <div class="unitWrapper">
				<div class="unit" id="unit2">

				</div>
			</div> -->
		</div>
		<div class="bar" id="bar3">
			<div class="pref" id="pref3">
				<div class="prefLabel" id="prefLabel3">

				</div>
			</div>
			<div class="val" id="val3">
				<div class="valLabel" id="valLabel3">

				</div>
			</div>
			<!-- <div class="unitWrapper">
				<div class="unit" id="unit3">

				</div>
			</div> -->
		</div>
		<div class="bar" id="bar4">
			<div class="pref" id="pref4">
				<div class="prefLabel" id="prefLabel4">

				</div>
			</div>
			<div class="val" id="val4">
				<div class="valLabel" id="valLabel4">

				</div>
			</div>
			<!-- <div class="unitWrapper">
				<div class="unit" id="unit4">

				</div>
			</div> -->
		</div>
		<div class="bar" id="bar5">
			<div class="pref" id="pref5">
				<div class="prefLabel" id="prefLabel5">

				</div>
			</div>
			<div class="val" id="val5">
				<div class="valLabel" id="valLabel5">

				</div>
			</div>
			<!-- <div class="unitWrapper">
				<div class="unit" id="unit5">

				</div>
			</div> -->
		</div>
	</div>
</body>
</html>
