<html>
<head>
	<title>Transwestern</title>
	<script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type='text/javascript' src="scripts.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div class="properties">
        <div class="property" id="property1">
            <div class="propertyLine" id="propertyLine1">

            </div>
            <div class="propertyImgWrapper" id="propertyImgWrapper1">
                <div class="propertyImg" id="propertyImg1">

                </div>
            </div>
        </div>
        <div class="property" id="property2">
            <div class="propertyLine"  id="propertyLine1">

            </div>
            <div class="propertyImgWrapper" id="propertyImgWrapper2">
                <div class="propertyImg" id="propertyImg2">

                </div>
            </div>
        </div>
        <div class="property" id="property3">
            <div class="propertyLine"  id="propertyLine3">

            </div>
            <div class="propertyImgWrapper" id="propertyImgWrapper3">
                <div class="propertyImg" id="propertyImg3">

                </div>
            </div>
        </div>
    </div>


</body>
</html>
